In [ ]:
print(1+2)

In [ ]:
age = 18 # 年齢

if age < 20:
  """
  #未成年の場合
  print("ジュースで乾杯！")
else:
  """
  #成年の場合
  print("お酒で乾杯！")

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

In [ ]:
print("降水確率"+str(50)+"％")

In [ ]:
print("晴れ"* 5)
print("晴れ"+"晴れ"+"晴れ"+"晴れ"+"晴れ")

In [3]:
user_name ="侍太郎"
print(user_name)

user_name ="侍花子"
print(user_name)

侍太郎
侍花子

In [4]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [5]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
# 台形面積計算ツール

# 上辺設定
uppder_side = 10
# 下辺設定
lower_side = 20
# 高さ設定
height = 5

# 台形面積計算
trapezoid_area = (uppder_side + lower_side) * height / 2

# 台形面積出力
print(f"上辺10cm、下辺20cm、高さ5cmの台形面積は{trapezoid_area}㎠です。")